{extend name='base'/} {block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            营业收入</a>
    </li>
    <li class="active">
        <a href="">营业收入</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1">营业收入</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="5%">编号</th>
                        <th>营业时间</th>
                        <th>营业金额</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name='field' item='vo' key='k'}
                    <tr>
                        <td>{++$k}</td>
                        <td>{$vo['websetName']}</td>
                        <td>{$vo['websetdes']}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
    {$field->render()}
</div>
<script>
    function chang(obj, websetValue, websetId) {
        var text1 = $(obj).val();
        if (websetValue == text1) {
            return;
        }
        $.post("{:url('admin/webset/chang')}", {
            'websetId': websetId,
            'websetValue': text1
        }, function(res) {
            if (res.code) {
                require(["hdjs"], function(hdjs) {
                    hdjs.message(res.msg, 'reflesh', 'success');
                })
            } else {
                require(["hdjs"], function(hdjs) {
                    hdjs.message(res.msg, '', 'error');
                })
            }
        })
    }
</script>
{/block}