{extend name="base"/} {block name="content"}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
                友链管理
            </a>
    </li>
    <li class="active">
        <a href="">友链展示</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="{:url('index')}">友链管理</a></li>
    <li><a href="{:url('store')}">添加友链</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="80">编号</th>
                        <th>链接名称</th>
                        <th width="200">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name='field' key='k' item='vo'}
                    <tr>
                        <td>{++$k}</td>
                        <td>{$vo['linkName']}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{:url('store',['linkId'=>$vo['linkId']])}">编辑</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" onclick="del({$vo['linkId']})">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
    {$field->render()}
</div>
<script>
    function del(linkId) {
        require(['hdjs'], function(hdjs) {
            hdjs.confirm('确定删除吗', function() {
                window.location.href = "{:url('admin/Link/pass')}" + "?linkId=" + linkId;
            })
        })
    }
</script>{/block}