{extend name="base"/} {block name="content"}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href="{:url('index')}"><i class="fa fa-cogs"></i>
                友链管理</a>
    </li>
    {if condition="input('param.linkId')==null"}
    <li class="active">
        <a href="{:url('store')}">添加友链</a>
    </li>
    {else/}
    <li class="active">
        <a href="{:url('store')}">编辑友链</a>
    </li>
    {/if}
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('index')}">友链首页</a></li>
    {if condition="input('param.linkId')==null"}
    <li class="active"><a href="{:url('store')}">添加友链</a></li>
    {else/}
    <li class="active"><a href="{:url('store')}">编辑友链</a></li>
    {/if}
</ul>
<form class="form-horizontal" id="form" action="" method="post" onsubmit="return add()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">友链管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">友链名称</label>
                <div class="col-sm-9">
                    <input type="text" name="linkName" class="form-control" value="{$oldData[ 'linkName']}" placeholder="请填写友链名称">
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label">url地址</label>
                <div class="col-sm-9">
                    <input type="url" name="linkUrl" class="form-control" value="{$oldData[ 'linkUrl']}" placeholder="请输入url地址">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">排序</label>
                <div class="col-sm-9">
                    <!-- <input type="number" name="linkSort" class="form-control" {//if condition="$oldData['linkSort']!=null" } value="{$oldData['linkSort']}" {//else/} value="100" {///if} placeholder=""> -->
                    <input type="number" name="linkSort" class="form-control" value="{$oldData['linkSort']}" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="linkId" value="{:input('param.linkId')}">
    <button class="btn btn-primary" type="submit">确定</button>
</form>
{/block}