{extend name='base'/}{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href="{:url('index')}"><i class="fa fa-cogs"></i>
            菜品管理</a>
    </li>
    <li class="active">
        <a href="{:url('store')}">菜品添加</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="{:url('index')}">菜品管理</a></li>
    <li><a href="{:url('store')}">菜品添加</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="5%">编号</th>
                        <th>菜品名称</th>
                        <th>菜品图片</th>
                        <th width="7%">价格</th>      
                        <!-- <th>菜系风格</th> -->
                        <th>更新时间</th>
                        <th width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name='field' key='key' item='vo'}
                    <tr>
                        <td>{++$key}</td>
                        <td>{$vo['title']}</td>
                        <td><img src="{$vo['thumb']}" class="img-responsive img-thumbnail" width="150" alt="" srcset=""></td>
                        <td>
                            <input type="text" onblur="changeSort(this,{$vo['articleid']},{$vo['price']})" class="form-control" value="{$vo['price']}">
                        </td>
                        
                        <td>{$vo['sendtime']}</td>
                        <!-- <td>{$vo['updatetime']}</td> -->
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{:url('edit',['articleid'=>$vo['articleid']])}">编辑</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{:url('delToRecycle',['articleid'=>$vo['articleid']])}">删除到回收站</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
    {$field->render()}
</div>
<script>
    function changeSort(obj, arc_id, sortid) {
        var sort = $(obj).val(); //obj.value;
        if (sort == sortid) {
            return;
        } else {
            $.post(
                "{:url('admin/Article/changeSort')}", {
                    price: sort,
                    articleid: arc_id
                },
                function(res) {
                    if (res.code) {
                        //执行成功的function
                        require(['hdjs'], function(hdjs) {
                            hdjs.message(res.msg, 'refresh', 'success');
                        });
                    } else {
                        //执行失败的function
                        // alert(res.msg);
                        require(['hdjs'], function(hdjs) {
                            hdjs.message(res.msg, 'back', 'error');
                        });
                    }
                }, 'json');
        }
    }
</script>
<script>
    $(function () {
        // var fso = new ActiveXObject("Scripting.FileSystemObject");

        // var f1 = fso.GetFile("d:\\111.json");
        // alert("we");
        var obj = [
            { "id": 6, "number": 1 },
            { "id": 7 ,"number": 2 }
        ];
        // $.getJSON("__STATIC__/111.json", function (data) {
        //         //data就是json对象了，不需要再转换
        //         alert(typeof(data));
        //         for(var ob in data)
        //         {
        //             console.log(ob);
        //             console.log(data[ob]);
        //         }
        //         $.post({
        //     url:'http://101.201.236.33/Thinkphp/public/index.php/admin/article/getData',
        //     data: data,
        //     success:function(data){
        //         alert(data);
        //     },
        //     // error:function(){
        //     //     alert("error");
        //     // }
        // })
        //     });
        
        $.post({
            url: 'http://101.201.236.33/Thinkphp/public/index.php/admin/article/getData',
            data: {data:JSON.stringify(obj)},
            dataType:"json",
            success: function (data) {
                alert(data);
            },
            error:function(data){
                console.log("error");
                for(var i in data)
                {
                    console.log(data[i]);
                }
            }
        })

    })
</script>
{/block}