{extend name='base'/}{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href="{:url('index')}"><i class="fa fa-cogs"></i>
            文章管理</a>
    </li>
    <li class="active">
        <a href="{:url('recycle')}">回收站</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="{:url('recycle')}">回收站</a></li>
</ul>
<form action="" method="post">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="5%">编号</th>
                        <th>文章名称</th>
                        <th>文章作者</th>
                        <th width="7%">排序</th>
                        <th>所属分类</th>
                        <th>添加时间</th>
                        <th width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach name='field' key='key' item='vo'}
                    <tr>
                        <td>{++$key}</td>
                        <td>{$vo['title']}</td>
                        <td>{$vo['author']}</td>
                        <td>
                            <input type="text" onblur="changeSort(this,{$vo['articleid']},{$vo['sort']})" class="form-control" value="{$vo['sort']}">
                        </td>
                        <td>{$vo['name']}</td>
                        <td>{$vo['sendtime']}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{:url('outToRecycle',['articleid'=>$vo['articleid']])}">恢复数据</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" onclick="del({$vo['articleid']})">彻底删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right">
    {$field->render()}
</div>
<script>
    //修改排序
    function changeSort(obj, arc_id, sortid) {
        var sort = $(obj).val(); //obj.value;
        if (sort == sortid) {
            return;
        } else {
            $.post(
                "{:url('admin/Article/changeSort')}", {
                    sort: sort,
                    articleid: arc_id
                },
                function(res) {
                    if (res.code) {
                        //执行成功的function
                        require(['hdjs'], function(hdjs) {
                            hdjs.message(res.msg, 'refresh', 'success');
                        });
                    } else {
                        //执行失败的function
                        // alert(res.msg);
                        require(['hdjs'], function(hdjs) {
                            hdjs.message(res.msg, 'back', 'error');
                        });
                    }
                }, 'json');
        }
    }

    //彻底删除
    function del(arc_id) {
        require(['hdjs'], function(hdjs) {
            hdjs.confirm('确定删除吗?', function() {
                window.location.href = "{:url('admin/Article/del')}" + "?arc_id=" + arc_id;
            });
        })
    }
</script>
{/block}