{extend name='base'/} {block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href="{:url('index')}"><i class="fa fa-cogs"></i>
            菜品管理</a>
    </li>
    <li class="active">
        <a href="{:url('store')}">菜品添加</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('index')}">菜品管理</a></li>
    <li class="active"><a href="{:url('store')}">菜品添加</a></li>
</ul>
<form class="form-horizontal" id="form" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">菜品管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">菜品标题</label>
                <div class="col-sm-9">
                    <input type="text" name="title" class="form-control" placeholder="菜品标题">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">菜品作者</label>
                <div class="col-sm-9">
                    <input type="text" name="author" class="form-control" placeholder="菜品作者">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">菜品价格</label>
                <div class="col-sm-9">
                    <input type="number" name="price" class="form-control" value=100>
                </div>
            </div>
 
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">标签</label>
                <div class="col-sm-9">
                    {foreach name='tagDate' key='key' item='vo'}
                    <label class="checkbox-inline">
                            <input type="checkbox" name="tag[]" value="{$vo['tagid']}"> {$vo['tagname']}
                        </label> {/foreach}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">缩略图</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" name="thumb" readonly="" value="">
                        <div class="input-group-btn">
                            <button onclick="upImage(this)" class="btn btn-default" type="button">选择图片</button>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <img src="__STATIC__/image/nopic.jpg" class="img-responsive img-thumbnail" width="150">
                        <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="removeImg(this)">×</em>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">菜品摘要</label>
                <div class="col-sm-9">
                    <textarea type="text" name="abstract" class="form-control" placeholder="菜品摘要"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">菜品内容</label>
                <div class="col-sm-9">
                    <textarea id="container" name="content" style="height:300px;width:100%;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- <input type="hidden" name="admin_id" value="{//:session('admin.id')}"> -->
    <button class="btn btn-primary" type="submit">确定</button>
</form>
<script>
    require(['hdjs']);
    //上传图片
    function upImage() {
        require(['hdjs'], function(hdjs) {
            options = {
                multiple: false, //是否允许多图上传
                //data是向后台服务器提交的POST数据
                data: {
                    name: '后盾人',
                    year: 2099
                },
                //压缩图片尺寸
                compress: {
                    width: 1600,
                    height: 1600,
                }
            };
            hdjs.image(function(images) {
                //上传成功的图片， 数组类型
                // alert(images[0]);
                $("[name='thumb']").val(images[0]);
                $(".img-thumbnail").attr('src', images[0]);
            }, options)
        });
    }

    function removeImg(obj) {
        $(obj).prev('img').attr('src', '__STATIC__/node_modules/hdjs/dist/static/image/nopic.jpg ');
        $(obj).parent().prev().find('input').val('');
    }
</script>
<script>
    require(['hdjs'], function(hdjs) {
        var ueditor = hdjs.ueditor('container', {
            hash: 2,
            data: 'hd'
        });
    })
</script>
{/block}