{extend name='base'/} {block name='content'}
<table class="table table-hover">
    <tbody>
        <tr>
            <th class="active" colspan="10">温馨提示</th>
        </tr>
        <tr>
            <td colspan="10">
                点餐主页：<a href="JavaScript:void(0);" target="_blank">点餐主页</a> 点餐主页：
                <a href="#" target="_blank">见Android端</a>
            </td>
        </tr>
        <tr>
            <th class="active" colspan="10">系统信息</th>
        </tr>
        <tr>
            <td>核心框架</td>
            <td colspan="5">Thinkphp</td>
        </tr>
        <tr>
            <td>版本号</td>
            <td colspan="5">1.0</td>
        </tr>
        <!-- <tr>
            <td>开发者</td>
            <td colspan="5">后盾网武斌</td>
        </tr> -->
    </tbody>
</table>
{/block}